{% extends 'app/base.html' %} 
{% load static %} 
{% block title %}profile{%endblock title %}
{% block main-content %}
<div class="container-fluid my-5" >
    <div class ="row">
        <h3> Welcome <span class ='text-capitalize'>{{request.user}}</span></h3>
        <hr>
        <div class ="col-sm-3 border-end">
            <ul class="list-unstyled"> 
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-info fw-bold">Profile</a></li>
                <li class="d-grid "><a href="{% url 'address'%}" class="btn  btn-outline-info fw-bold">Address</a></li>
            </ul>
        </div> 
        <div class="col-sm-8 offset-sm-1">
            <form action=""  method="post">
                  {% csrf_token %}
                  {% for fm in forms %}
                    {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>  
                  {% endfor %}
                  
                <div class="col-12 mt-3">
                    <button href ="{% url 'address' %}" type="submit" class="fw-bold btn btn-primary text-light px-5 rounded-5" >SUBMIT</button>
                    <a href="/" class="fw-bold btn btn-warning px-5 rounded-5 text-light mx-5">SKIP</a>
                </div>
                  
       
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{ error }}</p>
                    {% endfor %}
                {% endif %} 
                
                {% if messages %}
                    {% for msg in messages %}
                    <div class="alert alert-{{msg.tags}} my-3">
                         {{ msg }}
                    </div>
                    {% endfor %}
                {% endif %}
    
             </form>
 
        </div>
    
    </div>
</div>
{% endblock main-content %}