{% extends 'app/base.html' %} 
{% load static %} 
{% block title %}{%endblock title %}
{% block main-content %}
<div class="container-fluid my-5" >
    <div class ="row">
        <h3>Reset Password Completed :</h3>
        <hr> 
        <div class ="col-sm-9 offset-sm-1 text-center">
            <div>
                <iframe src="https://giphy.com/embed/tf9jjMcO77YzV4YPwE" width="400" height="400"  frameBorder="0" class="giphy-embed"></iframe>
              
            </div>
         </div>
    </div>
</div>
{% endblock main-content %}