{% extends 'app/base.html' %} 
{% load static %} 
{% block title %}{%endblock title %}
{% block main-content %}
<div class="container-fluid my-5" >
    <div class ="row">
        <h3> Welcome {{request.user.username | capfirst}}</h3>
        <hr>
        <div class ="col-sm-3 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="#" class="btn btn-primary">Change Password Done</a></li>
            </ul>   
        </div> 
        <div class ="col-sm-9 offset-sm-1 text-center">
            <div>
                <iframe src="https://giphy.com/embed/tf9jjMcO77YzV4YPwE" width="400" height="400"  frameBorder="0" class="giphy-embed"></iframe>
              
             </div>
             <h2>Password Changed Successfully <h2>
        </div>
    </div>
</div>
{% endblock main-content %}